$font-main: 'Roboto', sans-serif;
$primary-color: #999;
$secondary-color: #666;

html {
  font-family: $font-main;
}
.center {
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}
.formation-menu {
  display: block;
  margin-left: auto;
  margin-right: auto;

}
.formation-menu button {
  background: $primary-color;
  border: 0;
  color: $secondary-color;
  margin-left: auto;
  margin-right: auto;
  padding: 8px 15px;
}
.controls button {
  background: $primary-color;
  border: 0;
  color: $secondary-color;
  display: inline-block;
  margin-left: 5px;
  margin-right: 5px;
  padding: 8px 15px;
}
canvas {
  display: inline-block;
  padding: 20px;
}
body {
  background-color: $secondary-color;
  margin-left: auto;
  margin-right: auto;
  position: relative;
  width: 80%;
}
h1,
h2,
h3,
h4,
p,
ul,
li {
  color: $primary-color;
}
ul,
li {
  text-align: left;
}
