html {
  font-family: 'Roboto', sans-serif;
}
.center {
  margin-left: auto;
  margin-right: auto;
}

button span {
  padding: 10px 15px;
  background: #999;
  color: #666;
}

button {
  border: 0;
  padding-top: 5px;
  padding-bottom: 5px;
  padding-left: 0;
  padding-right: 0;
  margin-left: auto;
  margin-right: auto;
  display: block;
}
canvas {
  padding-top: 20px;
  padding-left: 0;
  padding-right: 0;
  margin-left: auto;
  margin-right: auto;
  display: block;
}
body {
  background-color: #666;
  width: 80%;
}
body h1,
h2,
h3,
p {
  text-align: center;
  color: #999;
}
