$font-main: 'Roboto', sans-serif;
$primary-color: #999;
$secondary-color: #666;

html {
  font-family: $font-main;
}
.center {
  margin-left: auto;
  margin-right: auto;
  text-align: center;
}
.menu {
  display: block;
  margin-left: auto;
  margin-right: auto;
}
.formation-menu button {
  background: $primary-color;
  color: $secondary-color;
  width: 100%;
}
canvas {
  display: inline-block;
}
body {
  background-color: $secondary-color;
  margin-left: auto;
  margin-right: auto;
  position: relative;
  width: 80%;
}
h1,
h2,
h3,
h4,
p,
ul,
li {
  color: $primary-color;
}
ul,
li {
  text-align: left;
}
